{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>

 <form action="/artwork-new" method="GET">
  <button type="submit">
    Upload New Artwork
  </button>
</form>   

{{#each artworkFromDB}}
<h3>Title: {{ title }}</h3>
<h4>Description: {{ description }}</h4>
<img src="{{image}}" width="200px" alt="ProfilePic">
<form action="/artwork-edit/{{this._id}}" method="GET">
  <button type="submit">
    Update
  </button>
</form>
<form action="/artwork-delete/{{this._id}}" method="POST">
  <button>
    Delete
  </button>
</form>
{{/each}}

{{else}}
      <b>No user is logged in!<b>
{{/if}}







