{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>

    <p>
      Artist Name: {{userInSession.fname}} {{userInSession.lname}}
      <br>
      Artist Persona: {{userInSession.username}}
    </p>


    <form action="/artwork-edit/{{artworkFromDB._id}}" method="POST">
      <label>Title: <input type="text" name="title" value="{{artworkFromDB.title}}" />
      </label>
        <br>
        <label>Description: <textarea name="description" cols="40" rows="5" maxlength="140">{{artworkFromDB.description}}</textarea>
        </label>
        <br>
        <br>
        <br>
        <button type="submit">Edit</button>
      </form>

      <form action="/artwork-delete/{{artworkFromDB._id}}" method="POST">
        <button>Delete</button>
      </form>

{{else}}
      <b>No user is logged in!<b>
{{/if}}



    <a href="/artwork"> Refresh </a>