<h2>Gallery</h2>
<h3>Title: {{ galleryFromDB.galleryTitle }}</h3>
<h4>Description: {{ galleryFromDB.galleryDescription }}</h4>
<h5>Theme: {{ galleryFromDB.galleryTheme }}</h5>
<p>Artist: {{galleryFromDB.author.fname}} {{galleryFromDB.author.lname}}</p>

<div>
  {{#each galleryFromDB.image}}
  Title: {{title}}<br>
  Description: {{description}}<br>
  Medium: {{medium}}<br>
  <img src="{{image}}" alt{{title}} width="200"><br><br>
  {{/each}}
</div>

<a href="/gallery">Return to New Artists Galleries</a>