      <hr>
      <h3>New Artist Galleries</h3
      <br>
      
      {{!-- dropdown list to display the artists who have galleries
      based on the selected artist, display their list of galleries --}}
      {{#each allGalleriesfromDB}}
      <div>
      Artist: {{this.author.fname}} {{this.author.lname}}
      <br>
      <a href="gallery-details/{{this._id}}" target="_blank">Gallery Name: {{this.galleryTitle}}</a>
      <br>
      Gallery Description: {{this.galleryDescription}}
      <br>
      Gallery Theme: {{this.galleryTheme}}
      <br>
      <br>
      {{/each}}