<h2>Gallery</h2>
<h3>Title: {{ galleryFromDB.galleryTitle }}</h3>
<h4>Description: {{ galleryFromDB.galleryDescription }}</h4>
<h5>Theme: {{ galleryFromDB.galleryTheme }}</h5>
<p>Artist: {{userInSession.fname}} {{userInSession.lname}}</p>

<div>
  {{#each galleryFromDB.image}}
  Title: {{title}}<br>
  Description: {{description}}<br>
  Medium: {{medium}}<br>
  <img src="{{image}}" alt{{title}} width="200"><br><br>
  {{/each}}
</div>

{{#if userInSession}}
<a href="/gallery-list/:galleryID">Return to Your Gallery List</a>
{{else}}
<a href="/gallery">Return to New Artists Galleries</a>
{{/if}}