<hr />
<h3>
  Gallery Information
</h3>
<form action="/gallery-new" method="GET">
  <button type="submit">
    Create New Gallery
  </button>
</form>
<br />
{{#each galleryFromDB}}
  <div>
    Gallery Name:
    {{this.galleryTitle}}
    <br />
    Gallery Description:
    {{this.galleryDescription}}
    <br />
    Gallery Theme:
    {{this.galleryTheme}}
    <br />
    <form action="/gallery-edit/{{this._id}}" method="GET">
      <button>
        Edit
      </button>
    </form>
    <form action="/gallery-delete/{{this._id}}" method="POST">
      <button>
        Delete
      </button>
    </form>
  </div>
  <hr />
{{/each}}