<div class="top-adjustment">
<h2>{{ galleryFromDB.galleryTitle }}</h2>
<h4>Description: {{ galleryFromDB.galleryDescription }}</h4>
<h5>Theme: {{ galleryFromDB.galleryTheme }}</h5>
<p>Artist: {{galleryFromDB.author.fname}} {{galleryFromDB.author.lname}}</p>

<div class="gallery">
  {{#each galleryFromDB.image}}
  <div class="gallery-box">
  Title: {{title}}<br>
  Description: {{description}}<br>
  Medium: {{medium}}<br>
  <div>
    <a href="{{image}}" target="_blank"><img src="{{image}}" alt{{title}} width="150px"></a>
  </div>
  </div>
  {{/each}}
</div>

<a href="/gallery">Return to New Artists Galleries</a>
</div>