{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>
    <div>Edit Current Gallery</div>
  
<form action="/gallery-edit/{{galleryFromDB._id}}" method="POST">
<label>
  Gallery Title:
  <input type="text" name="galleryTitle" value="{{galleryFromDB.galleryTitle}}"/>
</label>
<br>
<label>
  Gallery Description:
  <textarea name="galleryDescription">{{galleryFromDB.galleryDescription}}</textarea>
</label>
<br>
<label>
  Gallery Theme:
  <input type="text" name="galleryTheme" value="{{galleryFromDB.galleryTheme}}"/>
</label>

<label for="">Update Gallery Images:</label>
  <select name='image' multiple>
    {{#each allArtwork}}
    {{#if isInGallery}}
    <option value="{{_id}}" selected='selected'>{{title}}</option>
    {{else}}
    <option value="{{_id}}">{{title}}</option>
    {{/if}}
    {{/each}}
  </select>

      <br>
      <br>
<button type="submit">Update</button>
      
</form>
{{else}}
    <b>No user is logged in!<b>
{{/if}}

<a href="/profile"> Return to Profile Page </a>