{{!-- <h2>Profile Information</h2> --}}
{{#if userInSession}}
    <h2>Welcome, {{userInSession.fname}} </h2>
    
    <form action="/profile" method="POST">
    <p>
      Login: {{userInSession.username}}
      <br>
      First Name: {{userInSession.fname}}
      <br>
      Last Name: {{userInSession.lname}}
      <br>
      Email: {{userInSession.email}}
      <br>
      <img src="{{userInSession.profilePicture}}" width="200px" alt="ProfilePic">
    </p>
    </form>


{{else}}
    <p>><a href="auth/login.hbs">Return to Login Page</a></p>
    <p><a href="auth/register.hbs">Register Now</a></p>
{{/if}}

<form action="/profile-edit" method="GET">
<button type="submit">Update Profile</button>
</form>

<form action="/artwork" method="GET">
  <button type="submit">Manage your Artwork!</button>
</form>
      
<form action="/gallery-artist" method="GET">
  <button>
    Manage your Galleries!
  </button>
</form>
{{!--  --}}
