<div class="top-adjustment">
{{#if userInSession}}
    <h2>Welcome, {{userInSession.fname}} </h2>
    
<form action="/profile-picEdit" method="POST" enctype="multipart/form-data">    

<img src="{{userInSession.profilePicture}}" width="200px" alt="ProfilePic" />
<br />
<br />
<label>
Change Profile Picture
  <input type="file" name="imageToUpload" />
</label>
<button type="submit">
  Update
</button>
    </form>
<br />

    <form action="/profile-edit" method="POST" enctype="multipart/form-data">
<label>
  First Name:
  <input type="text" name="fname" value="{{userInSession.fname}}" />
</label>
<br>
<label>
  Last Name:
  <input type="text" name="lname" value="{{userInSession.lname}}" />
</label>
<br>
<label>
Email:
<input type="text" name="email" value="{{userInSession.email}}" />
</label>
<br>


  
<br>
<button type="submit">Update</button>
</form>

{{else}}
    <b>No user is logged in!</b>
{{/if}}

<form action="/profile-delete" method="POST">
  <button type="submit">Delete</button>
</form>
</div>