<h2>Profile Information</h2>
{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>
    
    <form action="/profile" method="POST">
    <p>
      Login: {{userInSession.username}}
      <br>
      First Name: {{userInSession.fname}}
      <br>
      Last Name: {{userInSession.lname}}
      <br>
      Email: {{userInSession.email}}
      <br>
      Profile Picture: <img src="{{userInSession.profilePicture}}" width="200px" alt="ProfilePic">
    </p>
    </form>

    <form action="/logout" method="POST">
<button type="submit">Logout</button>
</form>
{{else}}
    <p>><a href="auth/login.hbs">Return to Login Page</a></p>
    <p><a href="auth/register.hbs">Register Now</a></p>
{{/if}}

<form action="/profile-edit" method="GET">
<button type="submit">Edit Profile</button>
</form>

<form action="/upload" method="GET">
  <button type="submit">Upload you Art!</button>
</form>
      
      <hr>
      <h3>Gallery Information</h3>
      <form action="/gallery-new" method="GET">
      <button type="submit">Create New Gallery</button>
      </form>
      <br>
      {{#each galleryFromDB}}
      <div>Gallery Name: {{this.galleryTitle}}
      <br>
      Gallery Description: {{this.galleryDescription}}
      <br>
      Gallery Theme: {{this.galleryTheme}}
      <br>
      <form action="/gallery-edit/{{this._id}}" method="GET"><button>Edit</button></form>
      <form action="/gallery-delete/{{this._id}}" method="POST"><button>Delete</button></form>
      </div>
      <hr>
      {{/each}}

<a href="/profile"> Refresh </a>