<h2>Profile Information</h2>
{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>
    
    <form action="/profile" method="POST">
    <p>
      Login: {{userInSession.username}}
      <br>
      First Name: {{userInSession.fname}}
      <br>
      Last Name: {{userInSession.lname}}
      <br>
      Email: {{userInSession.email}}
      <br>
      Profile Picture: <img src="{{userInSession.profilePicture}}" width="200px" alt="ProfilePic">
    </p>
    </form>


{{else}}
    <p>><a href="auth/login.hbs">Return to Login Page</a></p>
    <p><a href="auth/register.hbs">Register Now</a></p>
{{/if}}

<form action="/profile-edit" method="GET">
<button type="submit">Edit Profile</button>
</form>

<form action="/artwork" method="GET">
  <button type="submit">Upload your Art!</button>
</form>
      
<a href="/profile"> Refresh </a>