{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>

        <form action="/upload" method="GET">
    <p>
      Artist Name: {{userInSession.fname}} {{userInSession.lname}}
      <br>
      Artist Persona: {{userInSession.username}}
    </p>
    </form>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label>Title: <input type="text" name="title" value="" />
      </label>
        <br>
      <label>Medium: <input type="text" name="medium" value="" />
      </label>
        <br>
        <label>Description: <textarea name="description" cols="40" rows="5" maxlength="140"></textarea>
        </label>
        <br>
      <label>Image:<input type="file" name="imageToUpload" />
      </label>
        <br>
        <br>
        <br>
      <button type="submit">Submit</button>      
      </form>

{{#each artworkFromDB}}
<h3>Title: {{ title }}</h3>
<h4>Description: {{ description }}</h4>
<img src="{{image}}" width="200px" alt="ProfilePic">
<form action="/upload-edit/{{this._id}}" method="GET">
  <button type="submit">
    Edit
  </button>
</form>
<br>
<form action="/upload-delete" method="POST">
  <button type="submit">
    Delete
  </button>
</form>
{{/each}}

{{else}}
      <b>No user is logged in!<b>
{{/if}}




    <a href="/upload"> Refresh </a>


